.header {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  background-color: black;
  height: 50px;
  padding: 0 10px;
  color: rgb(41, 41, 41);
  box-shadow: 1px 5px 21px 1px rgba(0,0,0,.3);

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: inline-flex;
      margin: 0 10px;
    }
  }
}
.logo {
  animation: logo-spin infinite 1s linear;
  height: 40px;
}
@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
  